* {
  box-sizing: border-box;
}
body {
  width: 1440px;
  margin: 0 auto;
}
.container_menu {
background-image: url(../image/Rectangle\ 1\ \(1\).png);
width: 1440px;
height: 680px;
}
.menu_bar {
display: flex;
justify-content: space-between;
align-items: center;
margin: 0 190px;
}
.logo_header {
margin-top: 40px;
}
.menu_nav {
  display: flex;
  list-style: none;
margin-top: 75px;
width: 526px;
justify-content: space-between;
padding: 0;
}

.menu_nav li a {
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
  color: white;
  text-transform: uppercase;
  padding: 8px; 
}
.menu_nav li a:hover {
  background-color: #130e27;
  border-radius: 5px;
}
.title_header {
  margin: 72px 717px 50px 190px;
}
.title {
  text-transform: uppercase;
  font-size: 90px;
  line-height: 82px;
  color: #130e27;
}
.car_now {
  color: white;
}

.text_header {
  margin: 0 756px 180px 190px;
  color: white;
}
.text_menu {
  font-size: 20px;
  line-height: 28px;
}
.container_footer {
  height: 190px;
  background-color: #130e27;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.text_footer {
  color: white;
}
.span_footer {
  color: #c62314;
}
.box_title {
  margin: 50px 871px 0 190px;
  text-transform: uppercase;
  color: #130e27;
}
.box_OUR {
  color: #c62314;
}
.box_top_card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 82px;
}
.box_top_card_inner {
  font-size: 20px;
  line-height: 28px;
  text-align: center;  
}
.img_top {
  width: 163px;
  height: 56;
}
.box_top_text {
  width: 163px;
  color: #161616;
}
.box_second {
  background-color: #130e27;
  height: 124px;
  color: white;
  font-size: 20px;
line-height: 28px;
display: flex;
justify-content: space-around;
align-items: center;
}
.box_second_text {
  width: 611px;
}
.button_box_second {
  width: 270px;
  height: 64px;
  font-size: 22px;
line-height: 27px;
text-transform: uppercase;
background-color: #C62314;
border-radius: 5px;
color: white;
}
.button_box_second:hover {
  color: #130e27;
  background-color: white;
  cursor: pointer;
}
